# requirements.txt
# File ini mencantumkan semua library Python yang dibutuhkan aplikasi Streamlit Anda.

# Streamlit - Untuk menjalankan antarmuka web
streamlit

# Pandas - Untuk manipulasi dan pemrosesan data Excel
pandas

# NumPy - Digunakan oleh Pandas untuk operasi numerik
numpy

# openpyxl - Library yang digunakan Pandas untuk membaca file Excel (.xlsx)
openpyxl

# xlsxwriter - Library yang digunakan Pandas untuk menulis/menyimpan file Excel (.xlsx)
xlsxwriter